body{
  background-color: blue;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: bisque;
  text-align: center;
}

#result {
  font-size: 20px;
  color: bisque;
  padding: 10px;
  margin-left: 5px;
}

img {
  width: 30%;
  height: 10%;
}

#productSection {
  background-color: bisque;
  position: relative;  
}

#left-pic, #middle-pic, #right-pic {
margin: 20px;
height: 17em;
position: static;
transition: 0.3s ease;

}

#left-pic:hover,#middle-pic:hover, #right-pic:hover   {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#placeholder{
  background-color: bisque;
  margin: 5px;
  margin-bottom: 20%;
  position: relative;
    
}
