body{
  background-color: blue;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: bisque;
  text-align: center;
}

#result {
  font-size: 20px;
  color: bisque;
  padding: 10px;
  margin-left: 5px;
}

img {
  width: 30%;
  height: 10%;
}

#productSection {
  background-color: bisque;

}

#left-pic, #middle-pic, #right-pic {
margin: 20px;
height: 17em;

}


#placeholder{
  background-color: bisque;
  margin: 10px;
  margin-bottom: 20%;
  position: relative;
    
}
